@import url("https://fonts.googleapis.com/css2?family=Playwrite+NG+Modern:wght@100..400&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Aclonica&family=Playwrite+NG+Modern:wght@100..400&display=swap');

h1 {
  text-align: center;
  background: orange;
}
nav ul{
    display: flex;
    justify-content: space-between;
}
img {
  border-radius: 20px;
  width: 5cm;
}
p {
  font-family: "Playwrite NG Modern";
}
body {
  background: yellowgreen;
}
section {
  display: flex;justify-content: space-between;
  padding: 10px;
}
.ingridients{
    font-family: "Aclonica", sans-serif;
}
.recipe {
  
  font-family: "Aclonica", sans-serif;
}
#order{
    width: 300px;
    border: radius 10px;
    padding:50px;
    border:10px solid black;
    margin;30px;  
}
#order:hover{
    background: blue;
}