h1{text-align: center; font-style: italic;
    color: blue;
}
h6{
    color:crimson;
}
img{
    border-radius :30cap;
}

#header{
    color: black;
    text-align: right;
}

.wrapper{
    color: greenyellow;
}
