@import url("https://fonts.googleapis.com/css2?family=Playwrite+NG+Modern:wght@100..400&display=swap");
h1 {
  text-align: center;
  background: orange;
}
nav ul{
    display: flex;
    justify-content: center;
    padding: 10px;
}

nav ul li{
  padding: 5PX;
  list-style: none;
}
img {
  border-radius: 20px;
  width: 5cm;
}
p {
  font-family: "Playwrite NG Modern";
}
body {
  background: yellowgreen;
}
#order{
    width: 300px;
    border: radius 10px;
    padding:50px;
    border:10px solid black;
    margin;30px;  
}
#order:hover{
    background: blue;
}